<div class="app-newsletterbar" id="newsletter">
	<div class="app-newsletter">
    	<div class="app-page__header">
    		<div class="app-page__title">
				<h1 class="app-page-headline">Abonnieren Sie unseren Newsletter</h1>
    		</div>
    		<p class="app-page-abstract">Unser Newsletter informiert regelmäßig über aktuelle Angebote, Veranstaltungen und Tipps aus dem Wittelsbacher Land. Melden Sie sich doch gleich an!</p>
		</div>
		<div class="app-newsletter-item">
			<div class="app-newsletter-item-content">
				<div class="input-group app-newsletter-item-content-left">
  					<input type="text" class="form-control" placeholder="E-Mail-Adresse" aria-label="E-Mail-Adresse" aria-describedby="button-addon2">
				</div>
				<div class="input-group-append app-newsletter-item-content-right">
    				<button class="btn btn-secondary" type="button" id="button-addon2">Abonnieren</button>
  				</div>
        	</div>
      	</div>
    </div>
</div>