<div class="quickbar">
    <div class="quickbar__item">
        <a class="quickbar__link" href="/search">
            Suche <i class="ion ion-ios-search-outline" aria-hidden="true"></i>
        </a>
    </div>
    <div class="quickbar__item--events">
        <a class="quickbar__link" href="https://wittelsbacherland-verein.de/kalender-aktuell.html" target="_blank">
            Veranstaltungen <i class="ion ion-ios-calendar-outline"></i>
        </a>
    </div>
    <div class="quickbar__item">
        <a class="quickbar__link" href="https://okgis.osrz-akdb.de/aic/query/map?thema=pois" target="_blank">
            InfoAtlas <i class="ion ion-ios-map-outline"></i></i>
        </a>
    </div>
    <div class="quickbar__item">
        <a class="quickbar__link" href="/kontakt">
            Kontakt <i class="ion ion-ios-document-outline"></i>
        </a>
    </div>

    <div class="quickbar__item">
        {% include objects/burger.html %}
    </div>
</div>
