<footer class="app-footer" id="app-footer" role="contentinfo"> 
    <section class="app-footer__content">
        <div class="app-footer-cards-wrapper"> 
            <div class="app-footer-cards"> 
                <div class="app-footer-card"> 
                    <h3><img class="app-svg-icon-heading" src="/assets/images/location.svg" border="0" alt="" /> Kontakt</h3>
                    <div class="app-grid">
                        <div class="app-grid__item--50">
                            <img class="app-svg-icon-heading" src="/assets/images/lra.svg" border="0" alt="" />
                        </div>
                        <div class="app-grid__item--50">
                            <p>Landratsamt Aichach-Friedberg<br />
                            Münchener Str. 9<br />
                            86551 Aichach</p>
                        </div>
                    </div>
                    <p><img class="app-svg-icon" src="/assets/images/phone.svg" border="0" alt="" /> Telefon: 08251/92-0<br />
                    <img class="app-svg-icon" src="/assets/images/fax.svg" border="0" alt="" /> Telefax: 08251/92-371<br />
                    <img class="app-svg-icon" src="/assets/images/mail.svg" border="0" alt="" />  E-Mail: <a href="mailto:tourismus@wittelsbacherland.de ">tourismus@wittelsbacherland.de </a></p>
                </div>
                 
                <div class="app-footer-card">
                <h3><img class="app-svg-icon-heading" src="/assets/images/location.svg" border="0" alt="" /> Sitemap</h3> 
                    <p>&middot; <a href="{{ page.base_url }}">Startseite<br />
                    &middot; <a href="{{ page.base_url }}staedte-und-kultur">Städte und Kultur<br />
                    &middot; <a href="{{ page.base_url }}familie-freizeit-und-erholung">Familie, Freizeit und Erholung<br />
                    &middot; <a href="{{ page.base_url }}natur-und-aktiv">Natur und Aktiv<br />
                    &middot; <a href="{{ page.base_url }}gastronomie-und-uebernachtung">Gastronomie und Übernachtung
                    </p>
                </div>
                <div class="app-footer-card">
                    <h3><img class="app-svg-icon-heading" src="/assets/images/location.svg" border="0" alt="" /> Folgen Sie uns</h3>
                    <p>
                        <a class="social-bar__link" href="#" target="_blank">
                            <i class="ion ion-logo-facebook" aria-hidden="true"></i>
                        </a>
                    <br />

                        <a class="social-bar__link" href="#" target="_blank" >
                            <i class="ion ion-logo-twitter"></i>
                        </a>
                    <br />
                        <a class="social-bar__link" href="#" target="_blank">
                            <i class="ion ion-logo-google"></i>
                        </a>
                    <br />
                        <a class="social-bar__link" href="mailto:mail@wittelsbacherland.de" target="_blank">
                            <i class="ion ion-md-mail"></i>
                        </a>
                    </p>
                </div>
            </div> 
        </div> 
    </div>  

    </section>
    <section class="app-copyright-wrapper"> 
        <div class="app-copyright"> 
            <div class="app-copyright-signature"> 
                &copy; 2018 Landratsamt Aichach-Friedberg &middot; Alle Rechte vorbehalten &middot; <a class="app-card__link" href="{{ page.base_url }}impressum">Impressum</a> &middot; <a class="app-card__link" href="{{ page.base_url }}datenschutzerklaerung">Datenschutz</a> &middot; <a class="app-card__link" href="{{ page.base_url }}kontakt">Kontakt</a>
            </div> 
            <div class="app-copyright-info"> 
                Site by <a href="https://kreativkombinat.de">KK</a>
            </div> 
        </div>
    </section>
</footer>
