<footer class="app-footer" id="app-footer" role="contentinfo"> 
    <section class="app-footer__content">
        <div class="app-footer-cards-wrapper"> 
            <div class="app-footer-cards"> 
                <div class="app-footer-card"> 
                    <p class="app-page-abstract">
                        <img class="app-svg-icon-heading" src="/assets/images/location.svg" border="0" alt="Kontakt" /> Kontakt
                    </p>
                    <div class="app-grid">
                        <div class="app-grid__item--w25">
                            <img width="80" src="/assets/images/lra.svg" border="0" alt="" />
                        </div>
                        <div class="app-grid__item--w75">
                            <p>Landratsamt Aichach-Friedberg<br />
                            Münchener Str. 9<br />
                            86551 Aichach</p>
                        </div>
                    </div>
                    <p><img class="app-svg-icon" src="/assets/images/phone.svg" border="0" alt="" /> Telefon: 08251/92-0<br />
                    <img class="app-svg-icon" src="/assets/images/fax.svg" border="0" alt="" /> Telefax: 08251/92-371<br />
                    <img class="app-svg-icon" src="/assets/images/mail.svg" border="0" alt="" />  E-Mail: <a href="mailto:tourismus@wittelsbacherland.de ">tourismus@wittelsbacherland.de </a></p>
                </div>
                 
                <div class="app-footer-card">
                    <p class="app-page-abstract">
                        <img class="app-svg-icon-heading" src="/assets/images/location.svg" border="0" alt="Sitemap" /> Sitemap
                    </p> 
                    <ul>
                        <li><a href="{{ page.base_url }}">Startseite</li>
                        <li><a href="{{ page.base_url }}aktuelles">Aktuelles</li>
                        <li><a href="{{ page.base_url }}staedte-und-kultur">Städte und Kultur</li>
                        <li><a href="{{ page.base_url }}familie-freizeit-und-erholung">Familie, Freizeit und Erholung</li>
                        <li><a href="{{ page.base_url }}natur-und-aktiv">Natur und Aktiv</li>
                        <li><a href="{{ page.base_url }}gastronomie-und-uebernachtung">Gastronomie und Übernachtung</li>
                        <li><a href="{{ page.base_url }}bayerische-landesausstellung-2020">Bayerische Landesausstellung 2020</li>
                    </ul>
                </div>

                <div class="app-footer-card">
                    <p class="app-page-abstract">
                        <img class="app-svg-icon-heading" src="/assets/images/location.svg" border="0" alt="Unsere Partner" /> Unsere Partner
                    </p>
                    <div class="app-grid">

                    <div class="app-grid__item--w50">
                        <p>
                            <a class="social-bar__link" href="https://www.aichach.de" target="_blank">
                                <img class="app-img" src="/assets/images/partner-aichach.jpg" border="0" alt="" />
                            </a>
                        </p>
                    </div>

                    <div class="app-grid__item--w50">
                        <p>
                            <a class="social-bar__link" href="https://www.friedberg.de/" target="_blank">
                                <img class="app-img" src="/assets/images/partner-friedberg.jpg" border="0" alt="" />
                            </a>
                        </p>
                    </div>
                    </div>
                    <div class="app-grid">
                    <div class="app-grid__item--w50">
                        <p>
                            <a class="social-bar__link" href="https://www.aichach.de" target="_blank">
                                <img class="app-img" src="/assets/images/partner-regio.jpg" border="0" alt="" />
                            </a>
                        </p>
                    </div>

                    <div class="app-grid__item--w50">
                        <p>
                            <a class="social-bar__link" href="https://www.aichach.de" target="_blank">
                                <img class="app-img" src="/assets/images/partner-bayerisch-schwaben.jpg" border="0" alt="" />
                            </a>
                        </p>
                    </div>
                    </div>
                    <div class="app-grid">
                    <div class="app-grid__item--w50">
                        <p>
                            <a class="social-bar__link" href="https://www.eva-augsburg.de/?mp=gebiete" target="_blank">
                                <img class="app-img" src="/assets/images/partner-eva.jpg" border="0" alt="Verein zur Sicherstellung überörtlicher Erholungsgebiete für die Region Augsburg" />
                            </a>
                        </p>
                    </div>

                    <div class="app-grid__item--w50">
                        <p>
                            <a class="social-bar__link" href="http://www.wittelsbacherland-verein.de/" target="_blank">
                                <img class="app-img" src="/assets/images/partner-wlev.jpg" border="0" alt="Wittelsbacher Land e.V" />
                            </a>
                        </p>
                    </div>
                    </div>
                </div>

            </div> 
        </div> 
    </div>  

    </section>
    <section class="app-copyright-wrapper"> 
        <div class="app-copyright"> 
            <div class="app-copyright-signature"> 
                &copy; 2019 Landratsamt Aichach-Friedberg &middot; Alle Rechte vorbehalten &middot; <a class="app-card__link" href="{{ page.base_url }}impressum">Impressum</a> &middot; <a class="app-card__link" href="{{ page.base_url }}datenschutzerklaerung">Datenschutz</a> &middot; <a class="app-card__link" href="{{ page.base_url }}kontakt">Kontakt</a>
            </div> 
            <div class="app-copyright-info"> 
                Site by <a href="https://kreativkombinat.de">KK</a>
            </div> 
        </div>
    </section>
</footer>
