//
// Header
// ------------------------------------------


.app-header {
    width: 100%;
    position: relative;
    overflow: visible;
    z-index: 50;
    min-height: 320px;
    background: url("../assets/images/wave-top.svg") no-repeat $app-primary;
    background-size: contain !important;
    background-position: bottom center;
    @include media-breakpoint-up(lg) {
        background-size: cover !important;
    }
    @include when-inside('.template-front-page-view') {
        min-height: 320px;
        background: $app-primary;
        @include media-breakpoint-up(sm) {
            min-height: 100px;
        @include media-breakpoint-up(xl) {
            //background-color: rgba(141,192,67,0.7);
        background: -moz-linear-gradient(top,  rgba(141,192,67,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(141,192,67,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(141,192,67,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a68dc043', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

        }
        
        }
        
    }
}

.app-header-content {
    @include make-container();
    @include make-container-max-widths();
}


// Header panels
.app-header-panels {
    // Fallback for browsers lacking flexbox support
    @include when-inside('.no-flexbox') {
        display: table;
    }
    @include make-row();
        flex-wrap: wrap;
        flex-direction: row-reverse
}

//** Base card styles
.app-header-panel {
    @include when-inside('.no-flexbox') {
        display: table-cell;
    }
    @include when-inside('.app-header-panels') {
        @include make-col(12);
    }
    &.app-header-brandbar {
        @include make-col(12);
        @include media-breakpoint-up(md) {
            @include make-col(2);
            //border: 1px solid red;
            
        }
        //@include media-breakpoint-up(xl) {
        //    @include make-col(6);
        //    
        //}
    }
    &.app-header-quickbar {
        @include make-col(12);
        @include media-breakpoint-up(md) {
            @include make-col(6);
            //border: 1px solid blue;
        }
        //@include media-breakpoint-up(xl) {
        //    @include make-col(6);
        //    
        //}
    }
}
