<div class="quickbar">
    <div class="quickbar__item">
        <a class="quickbar__link" href="/search">
            Suche <i class="ion ion-ios-search-outline" aria-hidden="true"></i>
        </a>
    </div>
    <div class="quickbar__item">
        <a class="quickbar__link" href="#">
            Veranstaltungen <i class="ion ion-ios-calendar-outline"></i>
        </a>
    </div>
    <div class="quickbar__item">
        <a class="quickbar__link" href="/service">
            Service <i class="ion ion-ios-map-outline"></i>
        </a>
    </div>

    <div class="quickbar__item">
        {% include components/navbar.html %}
    </div>
</div>
