.quickbar {
    //display: none;
    @include media-breakpoint-up(lg) {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
}

.quickbar__item {
    padding: .5rem 2rem;
    @include media-breakpoint-up(md) {
        padding: .5rem 1rem;
    }
}

.quickbar__link {
	color: #fff;
	font-size: 1rem;
    text-transform: uppercase;

	&:hover {
        text-decoration: none;
        color: #fff;
    }
}


