$c-slider-color:                  $app-color-white;
$c-slider-padding:                $app-spacer-base;

.c-slider {
  display: block;
  width: 100%;
  //width: 100vw;
  //margin-left: 50%;
  //transform: translateX(-50%);
  //margin-left: -($app-spacer-base);
  //margin-right: -($app-spacer-base);
  @include mq($from: lg) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.c-slider__main {
  width: 100%;
}

.c-slider__items {
  display: block;
  position: relative;
  width: 100%;
}

.c-slide {
  display: block;
  position: relative;
  width: 100%;
}

.c-slide__main {
  //position: relative;
  padding: 2rem 2rem .5rem 2rem;
  color: $c-slider-color;
  width: 100%;
  //background: #fff;
  position: absolute;
    bottom: 0;
    left: 0;
  @include mq($from: md) {
    color: $c-slider-color;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45));
    padding: 3rem 5rem;
  }
}

.c-slide__content {
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
    &:visited {
      color: #fff;
    }
  }
}
.c-slider__items {
  margin-bottom: 0;
}

.c-slide__figure {
  margin-bottom: 0;
}

.o-figure__card {
    @include when-inside('.c-slide__figure') {
        &::before {
            //@include mq($until: sm) {
            //    padding-bottom: 100%;
            //}
        }
    }
}

