// Main site nav bar

/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


.app-nav-bar {
    position: relative;
    //right: -100%;
    &--overlay {

        opacity:0;  /* make things invisible upon start */
        -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
        -moz-animation:fadeIn ease-in 1;
        animation:fadeIn ease-in 1;

        -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
        -moz-animation-fill-mode:forwards;
        animation-fill-mode:forwards;

        -webkit-animation-duration:1s;
        -moz-animation-duration:1s;
        animation-duration:1s;

        -webkit-animation-delay: 0.7s;
        -moz-animation-delay: 0.7s;
        animation-delay: 0.7s;

        pointer-events: all;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1001;
        width: 100vw;
        height: 100vh;
        background-color: rgba(255,255,255,1);
        //box-shadow: 0 1rem 2rem rgba(0,0,0,0.25), 0 .65rem .65rem rgba(0,0,0,0.22);
        transition:right .5s linear;
        padding: 1rem;
        overflow: scroll;
        @include media-breakpoint-up(md) {
            width: 100vw;
            padding: 1rem 3rem;
        }
    }
    @include media-breakpoint-up(lg) {
        display: block;
        right: 0;
        padding: 1rem 10rem;
    }
}

.app-nav-bar--hidden {
    height: 0;
    padding: 0;
}

.app-nav-bar__header {
    display: flex;
    margin-bottom: 1rem;
    margin-top: .2rem;
    background: transparent;
    color: #fff;

    @include when-inside('.app-nav-bar--overlay') {
        display: block;
        text-align: right;
        width: 100%;
    }
}

.app-nav-bar__title {
    text-transform: uppercase;
    font-size: 1rem;
    @include media-breakpoint-up(sm) {
        padding: 0;
    }
    display: none;
}

.app-nav-bar__toggle {
    //width: 1rem !important;
    line-height: 1;
    background: transparent; // remove default button style
    border: 1px solid transparent; // remove default button style
    font-size: 1.2rem !important;
    color: #fff;
    text-align: right;
    padding: 0;
}

.app-nav__toggle {
    display: block;
    width: 9rem;
    color: $app-primary;
    text-align: left;
    &--close {
        display: none;
        height: 0;
        @include when-inside('.app-nav-bar--overlay') {
            display: block;
            height: 3rem;
            font-size: 2.5rem !important;
        }
    }
    &--open {
        height: 1.2rem;
        color: #fff;
        &::before {
        content: "NAVIGATION";
        }
        @include when-inside('.app-nav-bar--overlay') {
            display: none;
            height: 0;
            font-size: 2.5rem !important;
        }
    }
}

.app-nav__toggle-icon {
    fill: $app-color-white;
    stroke: $app-color-white;
}
.app-nav {
    width: 100%;
    list-style: none;
    padding: 0;
    background-color: #fff;
    text-align: left;
    @include media-breakpoint-up(xs) {
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        align-items: flex-end;
        //margin-top: 4.2rem;
        margin-bottom: 0;
        padding-left: .5rem;
        justify-content: flex-end;
        background: transparent;
        display: none;
        @include when-inside('.app-nav-bar--overlay') {
            display: block;
        }
    }
    &--level-1 {
        overflow-y: scroll;
    }
}

.app-nav--level-1 {
    position: relative;
}

.app-nav__item {
    position: relative;
    overflow: visible;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $gray-300;
    background-color: transparent;
    &--back-link {
        background-color: $gray-300;
        padding: 0;
        display: none;
    }

    &:last-child {
        border: none;
    }
}

.app-nav__item--has-children {
    position: relative;
}

.app-nav__link {
    display: block;
    text-decoration: none;
    color: $app-primary;
    font-family: $app-font-family-base;
    text-transform: none;
    font-weight: 400;
    line-height: 1;
    transition: background-color 0.5s ease;
    font-size: 1rem;
    @include media-breakpoint-up(md) {
        text-transform: uppercase;
    }
    &:hover {
        text-decoration: none;
        background: transparent;
        color: #000;
    }
    &--active,
    &--open {
        text-decoration: none;
        background: transparent;
        color: #000;
    }
    @include when-inside('.app-nav--level-1') {
        &:after {
            display: none;
        }
    }
    @include media-breakpoint-up(lg) {
        font-size: 1rem;
        padding-right: 0.25rem;
        padding-left: 0.25rem;
        line-height: 1rem;
        &:after {
            display: none;
        }
    }
}

.app-nav__link--back-link {
    height: 3rem;
    // margin-top: .5rem;
}

.app-nav__link--has-icon {
        display: flex;
}

.app-nav__tab {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    @include when-inside('.app-nav__link--has-icon') {
        display: block;
        //@include media-breakpoint-up(lg) {
        //    display: inline-block;
        //}
    }
    &--hide-text {
        text-indent: -9999px;
        overflow: hidden;
        width: 0;
        padding: 0;
    }
    &--action {
        margin-top: .5rem;
        padding: 0;
        width: 2rem;
        height: 2rem;
        display: none;
        @include when-inside('.app-nav__link--back-link') {
            display: inline-block;
        }
    }

    &--trigger {
        font-weight: 700;
        font-size: 2rem;
        margin-top: 3rem;
    }
    //@include media-breakpoint-up(lg) {
    //    padding: 0;
    //}
}

// Dropdown menus
.app-nav__dropdown {
    display: none;
    position: fixed;
    top: 4rem;
    right: 0;
    z-index: 1002;
    width: 90vw;
    height: calc(100vh - 60px);
    margin: 2rem 0 0;
    background-color: $white;
    // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition:right .25s linear;
    //@include media-breakpoint-up(xs) {
    //    //display: none;
    //    position: absolute;
    //    top: 100%;
    //    left: 0;
    //    z-index: $zindex-dropdown;
    //    float: left;
    //    width: 50vw;
    //}
}

.app-nav__dropdown--hidden {
    right: -100%;
    transition:right .25s linear;
}
