///* ========================================================================
//   #CONFIG
//   ======================================================================== */
// Custom web font
// $app-font-family-base:              "EB Garamond";
$app-font-family-base:              "Open Sans";
$app-font-family-light:             "Open Sans Condensed";
$app-font-family-medium:            "Open Sans Condensed";
$app-font-family-strong:            "Marck Script";
$app-font-family-italic:            "Open Sans";

// Configure site font stack
$app-font-family-serif:             $app-font-family-base, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$app-font-family-sans-serif:        $app-font-family-base;

$app-font-weight-base-custom:       $app-font-weight-base;
$app-font-weight-strong-custom:     700;
$app-font-weight-italic-custom:     $app-font-weight-base;
