// Publications extra staff

.publications-list-wrapper {
    @include make-row();
    //background: #efefef;
    padding: 1rem;
    margin-bottom: 1rem;
    @include media-breakpoint-up(md) {
        padding: 1rem 0 1rem 1rem;
    }
}

.publications-list {
	@include when-inside('.no-flexbox') {
        display: table;
    }
	
    margin-bottom: 1rem;
    @include media-breakpoint-up(lg) {
        width: 50%;
    }
}

.publications-list-item {
    border: 1px solid $app-primary;
    @include make-row();
    margin-left: 0;
    //margin-right: 0;
    flex-wrap: wrap;
    height: 100%;
    margin-right: 1rem;
}

.publications-list-quantity {
	padding: 1rem;
	background: #fff;
	@include make-col(12);
    @include media-breakpoint-up(md) {
    @include make-col(2); 
    }
    @include media-breakpoint-up(xl) {
    @include make-col(2); 
    }
}

.publications-list-info {
	padding: 1rem;
	background: #fff;
	@include make-col(12);
    @include media-breakpoint-up(md) {
    @include make-col(10); 
    }
    @include media-breakpoint-up(xl) {
    @include make-col(10)
    }
    @include make-row();
	flex-wrap: wrap;
	margin-left: 0;
	margin-right: 0;
}



.publications-list-info-image {
	@include make-col(12);
    @include media-breakpoint-up(md) {
    @include make-col(4);
    //min-height: 300px;
    }

    .product-image-preview {
    	width: 100%;
    	display: block;
    }
}

.publications-list-info-content {
	padding: 1rem;
	@include make-col(12);
    @include media-breakpoint-up(md) {
    @include make-col(8);
    display: flex;
    flex-flow: column nowrap;
    }

    .description {
    	margin-bottom: 2rem;
    }
}

.publications-list-info-content-header {
    font-size: 1.2rem;
    font-weight: 600;
}

.publications-link {
	margin-top:auto;
}


.app-form-wrapper {
	margin-top: 2rem;
}